<form cForm [formGroup]="documentForm">
  <c-card>
    <c-row>
      <c-col>
        <div class="d-flex justify-content-start align-items-center">
          <div style="padding-left: 0.5rem; padding-top: 0.25rem;">
            <c-form-check [switch]="true">
              <input formControlName="inactive" cFormControl cFormCheckInput type="checkbox" />
              <label style="font-size: 0.875rem;" cFormCheckLabel>
                In Active
              </label>
            </c-form-check>
          </div>
        </div>
      </c-col>
      <c-col>
        <div class="d-flex justify-content-end">
          <button cButton color="secondary" size="sm"  [hidden]="printerHidden">
            <svg cIcon name="cil-print" size="sm"></svg>
          </button>

          <button cButton color="success" size="sm" (click)="$event.preventDefault(); submitTransaction()" [hidden]="saveHidden" style="margin-left: 0.25rem;">
            <svg cIcon name="cil-save" size="sm"></svg>
            <strong>Save</strong>
          </button>

          <c-dropdown variant="btn-group" style="margin-left: 0.25rem;">
            <button color="info" size="sm" cButton cDropdownToggle>
              <strong>Action</strong>
            </button>
            <ul cDropdownMenu style="font-size: 100%;">
              <li>
                <button cDropdownItem [hidden]="isHiddenDeleteBtn">
                  <svg cIcon name="cil-trash" size="sm"></svg>
                  Delete
                </button>
              </li>
              <li>
                <button cDropdownItem (click)="actionClick(-1)">
                  <svg cIcon name="cil-exit-to-app" size="sm"></svg>
                  Back To List
                </button>
              </li>
            </ul>
          </c-dropdown>
        </div>
      </c-col>
    </c-row>
  </c-card>

  <c-card>
    <c-row>
      <c-col lg="6" md="6" xs="12">
        <!-- Supplier Code -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="cardcode" sizing="sm">
              Supplier Code
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="cardcode" [(ngModel)]="cardcode" readonly/>
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Supplier Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="cardname" sizing="sm">
              Supplier Name
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="cardname" [(ngModel)]="cardname" (change)="onDataChange()"/>
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>

      <c-col lg="6" md="6" xs="12">
        <!-- Contact Person -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="contactperson" sizing="sm">
              Contact Person
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl  formControlName="contactperson" [(ngModel)]="contactperson" (change)="onDataChange()"/>
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Position -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="position" sizing="sm">
              Position
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="position" [(ngModel)]="position" (change)="onDataChange()"/>
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Phone -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="phone" sizing="sm">
              Phone
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="phone" [(ngModel)]="phone" (change)="onDataChange()"/>
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Email Address -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="emailaddress" sizing="sm">
              Email Address
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="emailaddress" [(ngModel)]="emailaddress" (change)="onDataChange()"/>
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
  </c-card>

  <c-card>
    <c-row>
      <c-col lg="12" md="12" xs="12">
        <c-row class="mb-1">
          <label [sm]="2" cCol cLabel="col" for="address1" sizing="sm">
            Address 1
          </label>
          <c-col [sm]="10">
            <c-input-group sizing="sm">
              <textarea cFormControl formControlName="address1" [(ngModel)]="address1" rows="3" (change)="onDataChange()"></textarea>
            </c-input-group>
          </c-col>
        </c-row>

        <c-row class="mb-1">
          <label [sm]="2" cCol cLabel="col" for="address2" sizing="sm">
            Address 2
          </label>
          <c-col [sm]="10">
            <c-input-group sizing="sm">
              <textarea cFormControl formControlName="address2" [(ngModel)]="address2" rows="3" (change)="onDataChange()"></textarea>
            </c-input-group>
          </c-col>
        </c-row>

        <c-row class="mb-1">
          <label [sm]="2" cCol cLabel="col" for="address3" sizing="sm">
            Address 3
          </label>
          <c-col [sm]="10">
            <c-input-group sizing="sm">
              <textarea cFormControl formControlName="address3" [(ngModel)]="address3" rows="3" (change)="onDataChange()"></textarea>
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
  </c-card>
</form>