<!-- <app-supplier-data-list (passedEvent)="eventNewTransaction($event)" *ngIf="!isListViewHidden"></app-supplier-data-list>
<app-supplier-data-entry [supplierData]="supplierParentData" (passedEvent)="eventListTransaction()" *ngIf="!isTransactionViewHidden"></app-supplier-data-entry>
 -->
 <app-supplier-data-list  (outputEvent)="eventNewTransaction($event)" *ngIf="isListViewHidden"></app-supplier-data-list>
 <app-supplier-data-entry  [dataList]="parentData" (outputEvent)="eventListTransaction()" *ngIf="isTransactionViewHidden"></app-supplier-data-entry>

 
 