<c-card>
  <c-row>
    <c-col>
      <span class="dot warning"></span>
    </c-col>
    <c-col>
      <div style="text-align: right">
        <button (click)="PassEvent()" cButton color="success" size="sm">
          <svg cIcon name="cil-save" size="sm"></svg>
          <strong> Save</strong>
        </button>
      </div>
    </c-col>
  </c-row>
</c-card>

<c-card>
  <c-row>
    <c-col lg="4" md="6" xs="12">
      <c-input-group class="mb-1" sizing="sm">
        <input
          aria-describedby="button-addon2"
          aria-label="Select Supplier"
          cFormControl
          placeholder="Select Supplier"
          readonly="true"
        />
        <button
          cButton
          color="secondary"
          id="button-addon2"
          type="button"
          variant="outline"
          style="border: 0rem;"
        >
          <svg cIcon name="cil-list" size="sm"></svg>
        </button>
      </c-input-group>

      <c-input-group class="mb-1" sizing="sm">
        <input
          aria-describedby="button-addon2"
          aria-label="Name"
          cFormControl
          placeholder="Name"
          readonly="true"
        />
      </c-input-group>

      <c-input-group class="mb-1" sizing="sm">
        <input
          aria-describedby="button-addon2"
          aria-label="Branch Name"
          cFormControl
          placeholder="Branch Name"
          readonly="true"
        />
      </c-input-group>
    </c-col>
    <c-col lg="4" md="6" xs="12"> </c-col>
    <c-col lg="4" md="6" xs="12">
      <c-input-group class="mb-1" sizing="sm">
        <input
          aria-describedby="button-addon2"
          aria-label="Document Number"
          cFormControl
          placeholder="Document Number"
          readonly="true"
        />
      </c-input-group>

      <c-input-group class="mb-1" sizing="sm">
        <input
          aria-describedby="button-addon2"
          aria-label="Document Status"
          cFormControl
          placeholder="Document Status"
          readonly="true"
        />
      </c-input-group>

      <c-input-group class="mb-1" sizing="sm">
        <input
          aria-describedby="button-addon2"
          aria-label="Posting Date"
          cFormControl
          placeholder="Posting Date"
          readonly="true"
        />
      </c-input-group>

      <c-input-group class="mb-1" sizing="sm">
        <input
          aria-describedby="button-addon2"
          aria-label="Delivery Date"
          cFormControl
          placeholder="Delivery Date"
          readonly="true"
        />
        <button
          cButton
          color="secondary"
          id="button-addon2"
          type="button"
          variant="outline"
          style="border: 0rem;"
        >
          <svg cIcon name="cilCalendar" size="sm"></svg>
        </button>
      </c-input-group>
    </c-col>
  </c-row>
</c-card>

<c-card class="table-responsive">
  <table cTable [hover]="true" [striped]="true" size="sm">
    <thead>
      <tr>
        <th scope="col">Item Code</th>
        <th scope="col">Item Description</th>
        <th scope="col">Item Uom</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of poitem;let i=index">
        <td> {{ o.itemcode }}</td>
        <td> {{ o.itemname }}</td>
        <td>@mdo</td>
        <td><input 
          aria-describedby="button-addon2"
          aria-label="Quantity"
          cFormControl

          sizing="sm"
          type="number"
          name="Quantity"
          ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
          step="0.001"
        /></td>
        <td>
          <button cButton (click)="deleteItem(i)" color="danger" size="sm" style="margin-left: 0.25rem; margin-bottom: 0.25rem">
            <svg cIcon name="cil-ban" size="sm"></svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button cButton [cModalToggle]="itemDataEntry.id" color="success" size="sm">
      <svg cIcon name="cil-playlist-add" size="1xl"></svg><strong> Add Item</strong>
    </button>
  </div>
</c-card>


<c-modal #itemDataEntry alignment="center" backdrop="static" id="itemDataEntry" size="lg">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button [cModalToggle]="itemDataEntry.id" cButtonClose></button>
  </c-modal-header>

  <c-modal-body>
    <app-item-data-entry (passedEvent)="eventAddRow($event)"></app-item-data-entry>
  </c-modal-body>

  <c-modal-footer>
    <button [cModalToggle]="itemDataEntry.id"  cButton color="success">OK</button>
  </c-modal-footer>
</c-modal>




