<c-card>
  <div class="d-flex justify-content-end">
    <button (click)="PassEvent()" cButton color="success" size="sm">
      <strong>Create New Transaction</strong>
    </button>
  </div>
</c-card>

<c-card>
  <c-row>
    <c-col lg="4" md="6" xs="12">
      <c-input-group class="mb-1" sizing="sm">
        <input aria-describedby="button-addon2" aria-label="Document Number" cFormControl
          placeholder="Document Number" />
      </c-input-group>

      <c-input-group class="mb-1" sizing="sm">
        <input aria-describedby="button-addon2" aria-label="Branch Name" cFormControl placeholder="Branch Name" />
      </c-input-group>
    </c-col>
    <c-col lg="4" md="6" xs="12">
      <c-input-group class="mb-1" sizing="sm">
        <select cSelect sizing="sm">
          <option>Document Status</option>
          <option value="0">Pending</option>
          <option value="1">Approved</option>
          <option value="2">Rejected</option>
          <option value="3">Closed</option>
        </select>
      </c-input-group>
    </c-col>
    <c-col lg="4" md="6" xs="12">
      <c-input-group class="mb-1" sizing="sm">
        <input cFormControl type="text" name="date" onfocus="if(!this.value) (this.type='date')" onblur="if(!this.value)
            this.type ='text'" placeholder="Posting Date" />
      </c-input-group>

    </c-col>
  </c-row>
</c-card>

<c-card class="table-responsive">
  <table cTable [hover]="true" [striped]="true" size="sm">
    <thead>
      <tr>
        <th scope="col">Doc Number</th>
        <th scope="col">Posting Date</th>
        <th scope="col">Created By</th>
        <th scope="col">Branch Name</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of dataList" style="padding: 0">
        <th>{{ o.ins_DocNum }}</th>
        <td>{{ o.ins_PostingDate | date: "MM-dd-yyyy" }}</td>
        <td>{{ o.ins_CreatedBy }}</td>
        <td>{{ o.ins_BranchName }}</td>
        <td>
          <c-badge color="{{ o.ins_Badge }}">{{ o.ins_BadgeName }}</c-badge>
        </td>
        <td>
          <button (click)="DataLoadEvent(o)" cButton color="info" size="sm"
            style="margin-left: 0.25rem; margin-bottom: 0.25rem">
            <svg cIcon name="cil-pencil" size="sm"></svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</c-card>