#login_card_back {
    // background-image: url('../../../../assets/logo/pos_cashier.jpg'); 
    background-size: cover; 
    background-position: center;
}




.parent-grid{
    display: grid;
    place-items: center ;
    margin: 10px;
    border: 1px solid black;
}