<app-widgets-purchase></app-widgets-purchase>


<style>
    .svg-item {
        width: 100%;
        font-size: 16px;
        margin: 0 auto;
        animation: donutfade 1s;
    }

    @keyframes donutfade {

        /* this applies to the whole svg item wrapper */
        0% {
            opacity: .2;
        }

        100% {
            opacity: 1;
        }
    }

    @media (min-width: 992px) {
        .svg-item {
            width: 80%;
        }
    }

    .donut-ring {
        stroke: #EBEBEB;
    }

    .donut-segment {
        transform-origin: center;
        stroke: #FF6200;
    }

    .donut-segment-2 {
        stroke: #2eb85c;
        animation: donut1 3s;
    }

    .donut-segment-3 {
        stroke: #f9b115;
        animation: donut2 3s;
    }

    .donut-segment-4 {
        stroke: #3399ff;
        animation: donut3 3s;
    }

    .segment-1 {
        fill: #ccc;
    }

    .segment-2 {
        fill: #2eb85c;
    }

    .segment-3 {
        fill: #f9b115;
    }

    .segment-4 {
        fill: #3399ff;
    }

    .donut-percent {
        animation: donutfadelong 1s;
    }

    @keyframes donutfadelong {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes donut1 {
        0% {
            stroke-dasharray: 0, 100;
        }

        100% {
            stroke-dasharray: 100, 0;
        }
    }

    @keyframes donut2 {
        0% {
            stroke-dasharray: 0, 100;
        }

        100% {
            stroke-dasharray: 100, 0;
        }
    }

    @keyframes donut3 {
        0% {
            stroke-dasharray: 0, 100;
        }

        100% {
            stroke-dasharray: 100, 0;
        }
    }

    .donut-text {
        fill: #FF6200;
    }

    .donut-text-1 {
        fill: #2eb85c;
    }

    .donut-text-2 {
        fill: #f9b115;
    }

    .donut-text-3 {
        fill: #3399ff;
    }

    .donut-label {
        font-size: 0.28em;
        font-weight: 700;
        line-height: 1;
        fill: #000;
        transform: translateY(0.25em);
    }

    .donut-percent {
        font-size: 0.5em;
        line-height: 1;
        transform: translateY(0.5em);
        font-weight: bold;
    }

    .donut-data {
        font-size: 0.12em;
        line-height: 1;
        transform: translateY(0.5em);
        text-align: center;
        text-anchor: middle;
        color: #666;
        fill: #666;
        animation: donutfadelong 1s;
    }

    /* ---------- */
    /* just for this presentation */
    html {
        text-align: center;
    }

    .svg-item {
        max-width: 30%;
        display: inline-block;
    }
</style>

<div class="svg-item">
    <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
        <circle class="donut-segment donut-segment-2" cx="20" cy="20" r="15.91549430918954" fill="transparent"
            stroke-width="1.5" stroke-dasharray="20 80" stroke-dashoffset="25"></circle>
        <g class="donut-text donut-text-1">
            <text y="50%" transform="translate(0, 2)">
                <tspan x="50%" text-anchor="middle" class="donut-percent">20%</tspan>
            </text>
            <text y="60%" transform="translate(0, 2)">
                <tspan x="50%" text-anchor="middle" class="donut-data">3450 widgets</tspan>
            </text>
        </g>
    </svg>
</div>


<div class="svg-item">
    <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
        <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
        <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
        <circle class="donut-segment donut-segment-3" cx="20" cy="20" r="15.91549430918954" fill="transparent"
            stroke-width="3.5" stroke-dasharray="30 70" stroke-dashoffset="25"></circle>
        <g class="donut-text donut-text-2">

            <text y="50%" transform="translate(0, 2)">
                <tspan x="50%" text-anchor="middle" class="donut-percent">30%</tspan>
            </text>
            <text y="60%" transform="translate(0, 2)">
                <tspan x="50%" text-anchor="middle" class="donut-data">1500 widgets</tspan>
            </text>
        </g>
    </svg>
</div>

<div class="svg-item">
    <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut">
        <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
        <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
        <circle class="donut-segment donut-segment-4" cx="20" cy="20" r="15.91549430918954" fill="transparent"
            stroke-width="3.5" stroke-dasharray="1 99" stroke-dashoffset="25"></circle>
        <g class="donut-text donut-text-3">

            <text y="50%" transform="translate(0, 2)">
                <tspan x="50%" text-anchor="middle" class="donut-percent">1%</tspan>
            </text>
            <text y="60%" transform="translate(0, 2)">
                <tspan x="50%" text-anchor="middle" class="donut-data">50 widgets</tspan>
            </text>
        </g>
    </svg>
</div>

