<form cForm [formGroup]="documentForm">
  <c-card>
    <c-row>

      <c-col>
        <div class="d-flex justify-content-start align-items-center">
          <div style="padding-left: 0.5rem; padding-top: 0.25rem;">
            <c-form-check [switch]="true">
              <input formControlName="inactive" cFormControl cFormCheckInput type="checkbox"
                (change)="onDataChange()" />
              <label style="font-size: 0.875rem;" cFormCheckLabel>
                In Active
              </label>
            </c-form-check>
          </div>
        </div>
      </c-col>

      <c-col>
        <div class="d-flex justify-content-end">

          <button cButton (click)="$event.preventDefault()" color="secondary" size="sm">
            <svg cIcon name="cil-print" size="sm"></svg>
          </button>

          <button cButton color="success" size="sm" (click)=" $event.preventDefault();  submitTransaction()"
            style="margin-left: 0.25rem;" [hidden]="saveHidden">
            <svg cIcon name="cil-save" size="sm"></svg>
            <strong>Save</strong>
          </button>

          <c-dropdown variant="btn-group" style="margin-left: 0.25rem;">
            <button color="info" size="sm" cButton cDropdownToggle>
              <strong>Action</strong>
            </button>
            <ul cDropdownMenu style="font-size: 100%;">
              <li>
                <button cDropdownItem (click)="$event.preventDefault(); actionClick(1)" [hidden]="permissionHidden">
                  <svg cIcon name="cil-user" size="sm"></svg>
                  Permission
                </button>
              </li>

              <li>
                <button cDropdownItem (click)="$event.preventDefault(); actionClick(-9)" [hidden]="deleteHidden">
                  <svg cIcon name="cil-trash" size="sm"></svg>
                  Delete
                </button>
              </li>

              <li>
                <button cDropdownItem (click)="$event.preventDefault(); actionClick(-1)" [hidden]="backToListHidden">
                  <svg cIcon name="cil-exit-to-app" size="sm"></svg>
                  Back To List
                </button>
              </li>
            </ul>
          </c-dropdown>

        </div>
      </c-col>
    </c-row>
  </c-card>

  <c-card>
    <c-row>
      <c-col sm="6" xs="12">
        <!-- First Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="firstname" sizing="sm">
              First Name
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="firstname" [(ngModel)]="firstname" (change)="onDataChange()" />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Middle Initial -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="middleinitial" sizing="sm">
              Middle Initial
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="middleinitial" [(ngModel)]="middleinitial"
                (change)="onDataChange()" />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Last Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="lastname" sizing="sm">
              Last Name
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="lastname" [(ngModel)]="lastname" (change)="onDataChange()" />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>

      <c-col sm="6" xs="12">
        <!-- Security Level -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="securitylevel" sizing="sm">
              Security Level
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <select cSelect formControlName="securitylevel" [(ngModel)]="securitylevel" (change)="onDataChange()"
                sizing="sm">
                <option value="0">Regular User</option>
                <option value="1">Admin User</option>
              </select>
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Email Address -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="emailaddress" sizing="sm">
              Email Address
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="emailaddress" [(ngModel)]="emailaddress" (change)="onDataChange()" />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>
    </c-row>

    <c-row class="mb-1">
      <c-col xl="12">
        <label cCol cLabel="col" for="fullname" sizing="sm">Full Name</label>
      </c-col>
      <c-col xl="12">
        <c-input-group sizing="sm">
          <input cFormControl formControlName="fullname" [(ngModel)]="fullname" (change)="onDataChange()" />
        </c-input-group>
      </c-col>
    </c-row>
  </c-card>

  <c-card>
    <c-row>
      <c-col sm="6" xs="12">
        <!-- User Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="username" sizing="sm">
              User Name
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="username" [(ngModel)]="username" />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>
      <c-col sm="6" xs="12">
        <!-- Password -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="password" sizing="sm">
              Password
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input type="password" cFormControl formControlName="password" [(ngModel)]="password" />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Retry Password -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="retrypassword" sizing="sm">
              Retry Password
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input type="password" cFormControl formControlName="retrypassword" [(ngModel)]="retrypassword" />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
  </c-card>


  <c-card>
    <c-row>
      <c-col sm="6" xs="12">
        <!-- Branch Code -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="branchcode" sizing="sm">Branch Code</label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="branchcode" [(ngModel)]="branchcode" placeholder="Select Branch"
                readonly="true" />
              <button id="branch" cButton color="secondary" type="button" variant="outline" style="border: 0rem"
                (click)="$event.preventDefault()" [cModalToggle]="userBranchData.id">
                <svg cIcon name="cil-list" size="sm"></svg>
              </button>
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Branch Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="branchname" sizing="sm">
              Branch Name
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="branchname" [(ngModel)]="branchname" readonly="true" />
            </c-input-group>
          </c-col>
        </c-row>


      </c-col>


      <c-col sm="6" xs="12">


        <!-- Role Code -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="rolecode" sizing="sm">Role Code</label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="rolecode" [(ngModel)]="rolecode" placeholder="Select Role"
                readonly="true" />
              <button id="role" cButton color="secondary" type="button" variant="outline" style="border: 0rem"
                [cModalToggle]="userRole.id">
                <svg cIcon name="cil-list" size="sm"></svg>
              </button>
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Role Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="rolename" sizing="sm">Role Name</label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="rolename" [(ngModel)]="rolename" readonly="true" />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
  </c-card>

  <!-- Supplier -->
  <c-card class="table-responsive">
    <c-row>
      <c-col>
        <div class="d-flex justify-content-start align-items-center">
          <div style="padding-top: 0.25rem; padding-bottom: 0.50rem;">
            <label style="font-size: 0.875rem; font-weight: bolder;">
              Business Partner Restriction
            </label>
          </div>
        </div>
      </c-col>


      <c-col>

        <div class="d-flex justify-content-end">
          <div style="padding-right: 0.5rem; padding-top: 0.25rem;">
            <c-form-check [switch]="true">
              <label style="font-size: 0.875rem;" cFormCheckLabel>
                Allow All Supplier
              </label>
              <input formControlName="allowsupplier" [(ngModel)]="allowsupplier" cFormControl cFormCheckInput
                type="checkbox" (change)="onDataChange()" />
            </c-form-check>
          </div>
        </div>
      </c-col>

    </c-row>

    <table cTable [hover]="true" [striped]="true" size="sm">
      <thead>
        <tr>
          <th scope="col">Supplier Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of userSupplier; let i = index">
          <td>{{ o.ins_CardName }}</td>
          <td>
            <button cButton (click)="$event.preventDefault(); onPartnerRemove(i); onDataChange()" color="danger"
              size="sm" style="margin-left: 0.25rem; margin-bottom: 0.25rem;">
              <svg cIcon name="cil-ban" size="sm"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button cButton (click)="$event.preventDefault();" color="success" size="sm" [disabled]="supplierDisable"
        [cModalToggle]="partnerEntry.id">
        <svg cIcon name="cil-playlist-add" size="1xl"></svg>
        <strong>Add Supplier</strong>
      </button>
    </div>
  </c-card>


  <!-- Branch -->
  <c-card class="table-responsive">
    <c-row>
      <c-col>
        <div class="d-flex justify-content-start align-items-center">
          <div style="padding-top: 0.25rem; padding-bottom: 0.50rem;">
            <label style="font-size: 0.875rem; font-weight: bolder;">
              Branch Restriction
            </label>
          </div>
        </div>
      </c-col>


      <c-col>

        <div class="d-flex justify-content-end">
          <div style="padding-right: 0.5rem; padding-top: 0.25rem;">
            <c-form-check [switch]="true">
              <label style="font-size: 0.875rem;" cFormCheckLabel>
                Allow All Branches
              </label>
              <input formControlName="allowbranch" [(ngModel)]="allowbranch" cFormControl cFormCheckInput
                type="checkbox" (change)="onDataChange()" />
            </c-form-check>
          </div>
        </div>
      </c-col>

    </c-row>
    <table cTable [hover]="true" [striped]="true" size="sm">
      <thead>
        <tr>
          <th scope="col">Branch Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of userBranch; let i = index">
          <td>{{ o.ins_BranchName }}</td>
          <td>
            <button cButton (click)="$event.preventDefault(); onBranchRemove(i); onDataChange()" color="danger"
              size="sm" style="margin-left: 0.25rem; margin-bottom: 0.25rem;">
              <svg cIcon name="cil-ban" size="sm"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button cButton (click)="$event.preventDefault();" color="success" size="sm" [disabled]="branchDisable"
        [cModalToggle]="userBranchList.id">
        <svg cIcon name="cil-playlist-add" size="1xl"></svg>
        <strong>Add Branch</strong>
      </button>
    </div>
  </c-card>

  <!-- Approver -->
  <c-card class="table-responsive">
    <table cTable [hover]="true" [striped]="true" size="sm">
      <thead>
        <tr>
          <th scope="col">Full Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Approval Level</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of approverLines; let i = index">
          <td>{{ o.ins_FullName }}</td>
          <td>{{ o.ins_EmailAddress }}</td>
          <td>
            <c-input-group sizing="sm">
              <select cSelect id="{{ i }}" sizing="sm" value="{{ o.ins_ApprovalLevel }}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </c-input-group>
          </td>
          <td>
            <button cButton (click)="$event.preventDefault(); onItemRemove(i); onDataChange()" color="danger" size="sm"
              style="margin-left: 0.25rem; margin-bottom: 0.25rem;">
              <svg cIcon name="cil-ban" size="sm"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button cButton color="success" size="sm">
        <svg cIcon name="cil-playlist-add" size="1xl"></svg>
        <strong>Add Approver</strong>
      </button>
    </div>
  </c-card>

  <c-modal #userRole alignment="center" backdrop="static" id="userRole" size="lg">
    <c-modal-body>
      <app-role-data-selection (selectionEvent)="RoleEvent($event)"></app-role-data-selection>
    </c-modal-body>
  </c-modal>

  <c-modal #userBranchData alignment="center" backdrop="static" id="userBranchData" size="lg">
    <c-modal-body>
      <app-branch-data-selection (selectionEvent)="BranchEvent($event)"></app-branch-data-selection>
    </c-modal-body>
  </c-modal>


  <c-modal #userBranchList alignment="center" backdrop="static" id="userBranchList" size="lg">
    <c-modal-body>
      <app-branch-data-selection (selectionEvent)="BranchListEvent($event)"></app-branch-data-selection>
    </c-modal-body>
  </c-modal>


  <c-modal #partnerEntry alignment="center" backdrop="static" id="partnerEntry" size="lg">
    <c-modal-body>
      <app-supplier-data-selection (selectionEvent)="PartnerEvent($event)"></app-supplier-data-selection>
    </c-modal-body>
  </c-modal>

</form>