<c-row>
  <c-col xl="6" lg="6" md="12" xs="12">
    <div class="widgets-card">
      <c-card class="success-5">
        <c-card-header class="widgets-icons">
          <svg cIcon name="cil-money" size="7xl"></svg>
        </c-card-header>
        <div class="widgets-title">
          <h6>SALES FOR TODAY</h6>
        </div>
        <div class="widgets-subtitle">{{currentsales | number : '1.2-2'}}</div>
        <c-card-footer class="success"> GENERATE DATA HERE </c-card-footer>
      </c-card>
    </div>
  </c-col>
  
  <c-col xl="6" lg="6" md="12" xs="12">
    <div class="widgets-card">
      <c-card class="info-5">
        <c-card-header class="widgets-icons">
          <svg cIcon name="cilBasket" size="7xl"></svg>
        </c-card-header>
        <div class="widgets-title">
          <h6>SALES FROM YESTERDAY</h6>
        </div>
        <div class="widgets-subtitle">{{prevsales | number : '1.2-2'}}</div>
        <c-card-footer class="info"> GENERATE DATA HERE </c-card-footer>
      </c-card>
    </div>
  </c-col>
  
  <c-col xl="6" lg="6" md="12" xs="12">
    <div class="widgets-card">
      <c-card class="warning-5">
        <c-card-header class="widgets-icons">
          <svg cIcon name="cilCalendar" size="7xl"></svg>
        </c-card-header>
        <div class="widgets-title">
          <h6>MONTH-TO-DATE SALES</h6>
        </div>
        <div class="widgets-subtitle">{{currentsalesofthemonth | number : '1.2-2'}}</div>
        <c-card-footer class="warning"> GENERATE DATA HERE </c-card-footer>
      </c-card>
    </div>
  </c-col>

  <c-col xl="6" lg="6" md="12" xs="12">
    <div class="widgets-card">
      <c-card class="danger-5">
        <c-card-header class="widgets-icons">
          <svg cIcon name="cil-cart" size="7xl"></svg>
        </c-card-header>
        <div class="widgets-title">
          <h6>YEAR-TO-DATE SALES</h6>
        </div>
        <div class="widgets-subtitle">{{currentsalesoftheyear | number : '1.2-2'}}</div>
        <c-card-footer class="danger"> GENERATE DATA HERE </c-card-footer>
      </c-card>
    </div>
  </c-col>
</c-row>