<form cForm [formGroup]="headerForm">
  <c-card>
    <c-row>
      <c-col sm="6" xs="12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="dot {{ badge }}"></span>
          <div
            class="d-flex align-items-center"
            style="margin-top: 0.25rem; margin-left: 1rem;"
          >
            <strong>{{ badgename }} {{ POCreated }}</strong>
          </div>
        </div>
      </c-col>
      <c-col sm="6" xs="12">
        <div class="d-flex justify-content-end">
          <button
            cButton
            color="secondary"
            size="sm"
            [hidden]="isHiddenPrinterBtn"
          >
            <svg cIcon name="cil-print" size="sm"></svg>
          </button>

          <button
            cButton
            color="success"
            size="sm"
            type="submit"
            (click)="onSubmit()"
            [hidden]="isHiddenSave"
            style="margin-left: 0.25rem;"
          >
            <svg cIcon name="cil-save" size="sm"></svg>
            <strong>Save</strong>
          </button>
          <c-dropdown variant="btn-group" style="margin-left: 0.25rem;">
            <button color="info" size="sm" cButton cDropdownToggle>
              <strong>Action</strong>
            </button>
            <ul cDropdownMenu style="font-size: 100%;">
              <li>
                <button
                  cDropdownItem
                  (click)="onConfirmDelivery(docId)"
                  [hidden]="isHiddenConfirmBtn"
                >
                  <svg cIcon name="cil-check" size="sm"></svg>
                  Confirm Delivery
                </button>
              </li>
              <li>
                <button
                  cDropdownItem
                  (click)="onApprove(docId)"
                  [hidden]="isHiddenApproveBtn"
                >
                  <svg cIcon name="cil-check" size="sm"></svg>
                  Approve
                </button>
              </li>
              <li>
                <button
                  cDropdownItem
                  (click)="onReject(docId)"
                  [hidden]="isHiddenRejectBtn"
                >
                  <svg cIcon name="cil-ban" size="sm"></svg>
                  Reject
                </button>
              </li>
              <li>
                <hr cDropdownDivider [hidden]="isHiddenDiv" />
              </li>
              <li>
                <button
                  cDropdownItem
                  (click)="onCreatePO(docId)"
                  [hidden]="isHiddenPurchaseBtn"
                >
                  <svg cIcon name="cil-truck" size="sm"></svg>
                  Create Purchase Order
                </button>
              </li>
              <li>
                <button cDropdownItem [hidden]="isHiddenDeleteBtn">
                  <svg cIcon name="cil-trash" size="sm"></svg>
                  Delete
                </button>
              </li>
              <li>
                <button cDropdownItem (click)="onCancel()">
                  <svg cIcon name="cil-exit-to-app" size="sm"></svg>
                  Back To List
                </button>
              </li>
            </ul>
          </c-dropdown>
        </div>
      </c-col>
    </c-row>
  </c-card>

  <c-card>
    <c-row>
      <c-col sm="4" xs="12">
        <!-- Doc Number -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="docnum" sizing="sm">Doc Number</label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="docnum" readonly="true" />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Branch Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="branchname" sizing="sm">
              Branch Name
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="branchname"
                readonly="true"
              />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Ordered By -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="orderby" sizing="sm">Order By</label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="orderby" readonly="true" />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>

      <c-col sm="4" xs="12">
        <!-- Posting Date -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="docdate" sizing="sm">
              Posting Date
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="docdate"
                type="text"
                name="date"
                onfocus="if(!this.value) (this.type='date')"
                onblur="if(!this.value)
                this.type ='text'"
                readonly="true"
              />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Order Date -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="orderdate" sizing="sm">
              Order Date
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="orderdate"
                type="text"
                name="date"
                onfocus="if(!this.value) (this.type='date')"
                onblur="if(!this.value)
                this.type ='text'"
                [readonly]="isReadOnlyOrderDate"
                (change)="onChangeData()"
              />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Delivery Date -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="deldate" sizing="sm">
              Delivery Date
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="deldate"
                type="text"
                name="date"
                onfocus="if(!this.value) (this.type='date')"
                onblur="if(!this.value)
                this.type ='text'"
                [readonly]="isReadOnlyHeader"
                (change)="onChangeData()"
              />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>

      <c-col sm="4" xs="12">
        <!-- Received By -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="receivedby" sizing="sm">
              Received By
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="receivedby"
                [readonly]="isReadOnlyHeader"
                (change)="onChangeData()"
              />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Delivered By -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="deliveredby" sizing="sm">
              Delivered By
            </label>
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="deliveredby"
                [readonly]="isReadOnlyHeader"
                (change)="onChangeData()"
              />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>
    </c-row>
  </c-card>
  <c-card>
    <!-- Remarks -->
    <c-row class="mb-1">
      <c-col xl="12">
        <label cCol cLabel="col" for="remarks" sizing="sm">Remarks</label>
      </c-col>
      <c-col xl="12">
        <c-input-group sizing="sm">
          <input
            cFormControl
            formControlName="remarks"
            [readonly]="isReadOnlyHeader"
            (change)="onChangeData()"
          />
        </c-input-group>
      </c-col>
    </c-row>
  </c-card>
</form>

<c-card>
  <c-row>
    <c-col
      *ngFor="let o of itemcategorylist; let i = index"
      lg="6"
      class="mb-2 ml-0"
    >
      <c-card>
        <c-card-header>
          <strong>{{ o.ins_CategoryName }}</strong>
        </c-card-header>
        <c-card-body class="table-responsive">
          <table cTable [hover]="true" [striped]="true" size="sm">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Unit</th>
                <th scope="col" [hidden]="!o.ins_IsValid">Stock</th>
                <th scope="col">Order</th>
                <th scope="col">Delivery</th>
                <th scope="col">Actual</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of o.ins_Items; let x = index">
                <td [hidden]="!o.ins_IsValid">
                  {{ item.ins_ItemDescription }}
                </td>
                <td [hidden]="o.ins_IsValid">
                  <input
                    aria-label="ItemDescription"
                    value="{{ item.ins_ItemDescription }}"
                    name="{{ i }}"
                    id="{{ x }}"
                    sizing="sm"
                    (change)="onchangeitem($event)"
                    (change)="onChangeData()"
                  />
                </td>
                <td [hidden]="!o.ins_IsValid">{{ item.ins_InventoryUom }}</td>
                <td [hidden]="o.ins_IsValid">
                  <input
                    aria-label="InventoryUom"
                    value="{{ item.ins_InventoryUom }}"
                    name="{{ i }}"
                    id="{{ x }}"
                    style="width: 5rem;"
                    sizing="sm"
                    type="text"
                    (change)="onchangeuom($event)"
                    (change)="onChangeData()"
                  />
                </td>
                <td [hidden]="!o.ins_IsValid">{{ item.ins_OnHand }}</td>
                <td [hidden]="!isHiddenOrdRow">{{ item.ins_OnOrder }}</td>
                <td [hidden]="isHiddenOrdRow">
                  <input
                    aria-label="OnOrder"
                    value="{{ item.ins_OnOrder }}"
                    name="{{ i }}"
                    id="{{ x }}"
                    sizing="sm"
                    type="text"
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    step="0.001"
                    style="width: 5rem;"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..?)\../g, '$1');"
                    (change)="onchangeorder($event)"
                    (change)="onChangeData()"
                  />
                </td>
                <td [hidden]="!isHiddenDelRow">{{ item.ins_OnDelivery }}</td>
                <td [hidden]="isHiddenDelRow">
                  <input
                    aria-label="OnDelivery"
                    value="{{ item.ins_OnDelivery }}"
                    name="{{ i }}"
                    id="{{ x }}"
                    sizing="sm"
                    type="text"
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    step="0.001"
                    style="width: 5rem;"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..?)\../g, '$1');"
                    (change)="onchangedelivery($event)"
                    (change)="onChangeData()"
                  />
                </td>
                <td [hidden]="!isHiddenActRow">{{ item.ins_OnActual }}</td>
                <td [hidden]="isHiddenActRow">
                  <input
                    aria-label="OnActual"
                    value="{{ item.ins_OnActual }}"
                    name="{{ i }}"
                    id="{{ x }}"
                    sizing="sm"
                    type="text"
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    step="0.001"
                    style="width: 5rem;"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..?)\../g, '$1');"
                    (change)="onchangeactual($event)"
                    (change)="onChangeData()"
                  />
                </td>
              </tr>
            </tbody>
          </table>

          <div [hidden]="o.ins_AddItem">
            <button
              cButton
              color="success"
              size="sm"
              (click)="addOtherItems(o)"
            >
              <svg cIcon name="cil-playlist-add" size="1xl"></svg>
              <strong>Add Item</strong>
            </button>
          </div>
        </c-card-body>
      </c-card>
    </c-col>

    <!-- <c-col lg="6" class="mb-3 ml-0">
      <c-card>
        <c-card-header>
          <strong>OTHER ITEMS</strong>
        </c-card-header>
        <c-card-body class="table-responsive">
          <table cTable [hover]="true" [striped]="true" size="sm">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Unit</th>
                <th scope="col">Stock</th>
                <th scope="col">Order</th>
                <th scope="col">Delivery</th>
                <th scope="col">Actual</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of otheritemlines; let i = index">
                <td>
                  <input
                    aria-label="ReceivedQuantity"
                    sizing="sm"
                    (change)="onchangeorder($event)"
                  />
                </td>
                <td>
                  <input
                    aria-label="ReceivedQuantity"
                    width="0.1rem"
                    sizing="sm"
                    style="width: 5rem"
                    (change)="onchangeorder($event)"
                  />
                </td>
                <td>
                  <input
                    aria-label="ReceivedQuantity"
                    sizing="sm"
                    width="0.1rem"
                    type="number"
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    step="0.001"
                    style="width: 5rem"
                    (change)="onchangeorder($event)"
                  />
                </td>
                <td>
                  <input
                    aria-label="ReceivedQuantity"
                    sizing="sm"
                    width="0.1rem"
                    type="number"
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    step="0.001"
                    style="width: 5rem"
                    (change)="onchangeorder($event)"
                  />
                </td>
                <td>
                  <input
                    aria-label="ReceivedQuantity"
                    sizing="sm"
                    type="number"
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    step="0.001"
                    style="width: 5rem"
                    (change)="onchangedelivery($event)"
                  />
                </td>
                <td>
                  <input
                    aria-label="ReceivedQuantity"
                    sizing="sm"
                    type="number"
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                    step="0.001"
                    style="width: 5rem"
                    (change)="onchangeactual($event)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <button cButton color="success" size="sm" (click)="addOtherItems()">
              <svg cIcon name="cil-playlist-add" size="1xl"></svg>
              <strong> Add Item</strong>
            </button>
          </div>
        </c-card-body>
      </c-card>
    </c-col> -->
  </c-row>
</c-card>
