// Here you can add other styles
.sidebar-nav{
  font-family: 'Trebuchet MS', sans-serif;
   font-size: 80%;
  
  .nav-title {
    font-size: 100%;
    font-style: italic;
    padding: 0.25rem 1rem 0.25rem 1rem;
  }

  .nav-link{
    padding: 0.25rem 1rem 0.25rem 1rem ;  
  }
}
  
.container-fluid{
  font-size: 80%;
}

