// Here you can add other styles
.sidebar-nav{
  font-family: 'Trebuchet MS', sans-serif;
   font-size: 80%;
  
  .nav-title {
    font-size: 100%;
    font-style: italic;
    padding: 0.25rem 1rem 0.25rem 1rem;
  }

  .nav-link{
    padding: 0.25rem 1rem 0.25rem 1rem ;  
  }
}


.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.8rem;
}

.input-group-sm > .form-control, 
.input-group-sm > .input-group-text, 
.input-group-sm > .form-select,
.input-group-sm > .btn {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}


.table > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
  // border-bottom-width: 1px;
}

.container-fluid{
  font-size: 80%;
}

.card-body{
  padding: 0.25rem 1rem 0.25rem 1rem;
}


.accordion-button {
  padding: 0.25rem 1.25rem 0.25rem 1.25rem;
}
.accordion-body {
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
}

.accordion-item {
  padding: 0;
}


.info{
  background-color: rgb(35,198,200);
}

.info-5{
  background-color: rgb(35,198,200,0.5);
}

.secondary{
  background-color: rgb(28,132,198);
}

.secondary-5{
  background-color: rgb(28,132,198,0.5);
}

.danger{
  background-color: rgb(237,85,101);
}

.danger-5{
  background-color: rgb(237,85,101,0.5);
}

.warning{
  background-color: rgb(248,172,89);
}

.warning-5{
  background-color: rgb(248,172,89,0.5);
}

.success{
  background-color: rgb(26,179,148);
}

.success-5{
  background-color: rgb(26,179,148,0.5);
}


.color-info{
  color: rgb(35,198,200);
}

.color-secondary{
  color: rgb(28,132,198);
}

.color-danger{
  color: rgb(237,85,101);
}

.color-warning{
  color: rgb(248,172,89);
}

.color-success{
  color: rgb(26,179,148);
}
