<form cForm [formGroup]="headerForm" (ngSubmit)="onSubmit()">
  <c-card>
    <c-row>
      <c-col>
        <div class="d-flex justify-content-start align-items-center">
          <span class="dot {{ badge }}"></span>
          <div
            class="d-flex align-items-center"
            style="margin-top: 0.25rem; margin-left: 1rem"
          >
            <strong>{{ badgename }}</strong>
          </div>
        </div>
      </c-col>
      <c-col>
        <div class="d-flex justify-content-end">
          <button cButton color="success" size="sm" type="submit">
            <svg cIcon name="cil-save" size="sm"></svg>
            <strong> Save</strong>
          </button>
          <button
            cButton
            (click)="PassEvent()"
            color="danger"
            size="sm"
            style="margin-left: 0.25rem"
          >
            <svg cIcon name="cil-exit-to-app" size="sm"></svg>
            <strong></strong>
          </button>
        </div>
      </c-col>
    </c-row>
  </c-card>

  <c-card>
    <c-row>
      <c-col sm="6" xs="12">
        <!-- Supplier Code -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="suppliercode" sizing="sm"
              >Supplier Code</label
            >
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="suppliercode"
                id="suppliercode"
                placeholder="Select Supplier"
                readonly="true"
              />
              <button
                cButton
                color="secondary"
                type="button"
                variant="outline"
                style="border: 0rem"
                [cModalToggle]="supplierEntry.id"
              >
                <svg cIcon name="cil-list" size="sm"></svg>
              </button>
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Supplier Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="suppliername" sizing="sm"
              >Supplier Name</label
            >
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="suppliername"
                readonly="true"
              />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Branch Name -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="branchname" sizing="sm"
              >Branch Name</label
            >
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="branchname"
                readonly="true"
              />
            </c-input-group>
          </c-col>
        </c-row>
      </c-col>


      <c-col sm="6" xs="12">
        <!-- Document Number -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="docnum" sizing="sm"
              >Document Number</label
            >
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input cFormControl formControlName="docnum" readonly="true" />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Posting Date -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="docdate" sizing="sm"
              >Posting Date</label
            >
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="docdate"                 
                type="text"
                name="date"
                onfocus="(this.type='date')"
                onblur="if(!this.value)
                this.type ='text'"
                readonly="true"
              />
            </c-input-group>
          </c-col>
        </c-row>

        <!-- Delivery Date -->
        <c-row class="mb-1">
          <c-col xl="4" lg="4" md="12">
            <label cCol cLabel="col" for="deldate" sizing="sm"
              >Delivery Date</label
            >
          </c-col>
          <c-col xl="8" lg="8" md="12">
            <c-input-group sizing="sm">
              <input
                cFormControl
                formControlName="deldate"
                type="text"
                name="date"
                onfocus="(this.type='date')"
                onblur="if(!this.value)
                this.type ='text'"
                
                [readonly]="isReadOnly"
              />
            </c-input-group>
          </c-col>
        </c-row>

      </c-col>
    </c-row>
  </c-card>
</form>

<c-card class="table-responsive">
  <table cTable [hover]="true" [striped]="true" size="sm">
    <thead>
      <tr>
        <th scope="col">Item Code</th>
        <th scope="col">Item Description</th>
        <th scope="col">Item Uom</th>
        <th scope="col">Quantity</th>
        <th scope="col">Balance</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of purchaseorderdetails; let i = index">
        <td>{{ o.ins_ItemCode }}</td>
        <td>{{ o.ins_ItemDescription }}</td>
        <td>{{ o.ins_PurchaseUom }}</td>
        <td *ngIf="isViewHidden">{{ o.ins_Quantity }}</td>
        <td *ngIf="isEditHidden">
          <input
            value="{{ o.ins_Quantity }}"
            id="{{ i }}"
            aria-describedby="button-addon2"
            aria-label="Quantity"
            sizing="sm"
            type="number"
            name="Quantity"
            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
            step="0.001"
            (change)="onchange($event)"
          />
        </td>
        <td>{{ o.ins_BalanceQuantity }}</td>
        <td>
          <button
            cButton
            (click)="deleteItem(i)"
            color="danger"
            size="sm"
            style="margin-left: 0.25rem; margin-bottom: 0.25rem"
          >
            <svg cIcon name="cil-ban" size="sm"></svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button cButton [cModalToggle]="itemDataEntry.id" color="success" size="sm">
      <svg cIcon name="cil-playlist-add" size="1xl"></svg>
      <strong> Add Item</strong>
    </button>
  </div>
</c-card>

<c-modal
  #itemDataEntry
  alignment="center"
  backdrop="static"
  id="itemDataEntry"
  size="lg"
>
  <c-modal-body>
    <app-items-data-selection
      (itemSelectionEvent)="eventAddRow($event)"
    ></app-items-data-selection>
  </c-modal-body>
</c-modal>

<c-modal
  #supplierEntry
  alignment="center"
  backdrop="static"
  id="supplierEntry"
  size="lg"
>
  <c-modal-body>
    <app-supplier-data-selection
      (supplierSelectionEvent)="supplierSelected($event)"
    ></app-supplier-data-selection>
  </c-modal-body>
</c-modal>
