.table {
  vertical-align: middle;
}

.card {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
}

.badge{
  font-size: 0.7rem;
}



// .thead, .tbody, .tfoot, .tr, .td, .th {
//   margin-bottom: 45rem;
// }