<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>Consolidated Sales Per Month</c-card-header>
    <c-card-body style="margin-top: 1rem;">
      <c-row>
        <c-col xl="9" lg="12" xs="12">
          <c-chart 
            [data]="mainChart.data"
            [height]="250"
            [ngStyle]="{ 'marginTop.px': 10 }"
            [options]="mainChart.options"
            [type]="mainChart.type"
            style="margin-bottom: 2rem;"
          ></c-chart>
        </c-col>
        <c-col xl="3" lg="12" xs="12">
          <ul cListGroup>
            <li cListGroupItem>
              <c-row>
                <div class="text-high-emphasis"><h4>{{ currentcount | number : '1.2-2' }}</h4></div>
              </c-row>
              <c-row>
                <div class="d-flex flex-wrap">

                  <c-col class="me-auto" sm="5">
                    Current Monthly Transaction Count
                  </c-col>
                  <c-col class="justify-content-end color-{{ status1 }}" sm="auto">
                    ({{ this.currentpercent | number : '1.2-2' }}%)
                    <svg
                      cIcon
                      name="cil-level-{{ indicator1 }}"
                      class="color-{{ status1 }}"
                    ></svg>
                  </c-col>
                
                </div>
              </c-row>
              <c-progress class="mt-2" thin>
                <c-progress-bar color="dark" value="{{ currentpercent }}"></c-progress-bar>
              </c-progress>
            </li>
            
            <li cListGroupItem>
              <c-row>
                <div class="text-high-emphasis"><h4>{{ prevcount | number : '1.2-2'}}</h4></div>
              </c-row>
              <c-row>
                <div class="d-flex flex-wrap">

                  <c-col class="me-auto" sm="5">
                    Previous Monthly Transaction Count
                  </c-col>
                  <c-col class="justify-content-end color-{{ status2 }}" xs="auto">
                    ({{ this.prevpercent | number : '1.2-2' }}%)
                    <svg
                      cIcon
                      name="cil-level-{{ indicator2 }}"
                      class="color-{{ status2 }}"
                    ></svg>
                  </c-col>
                
                </div>
              </c-row>
              <c-progress class="mt-2" thin>
                <c-progress-bar color="dark" value="{{ prevpercent }}"></c-progress-bar>
              </c-progress>
            </li>


            <li cListGroupItem>
              <c-row>
                <div class="text-high-emphasis"><h4>{{ prevcountlastyear | number : '1.2-2' }}</h4></div>
              </c-row>
              <c-row>
                <div class="d-flex flex-wrap">

                  <c-col class="me-auto" sm="5">
                    Last Year Monthly Transaction Count
                  </c-col>
                  <c-col class="justify-content-end color-{{ status3 }}" xs="auto">
                    ({{ prevpercentlastyear | number : '1.2-2' }}%)
                    <svg
                      cIcon
                      name="cil-level-{{ indicator3 }}"
                      class="color-{{ status3 }}"
                    ></svg>
                  </c-col>
                
                </div>
              </c-row>
              <c-progress class="mt-2" thin>
                <c-progress-bar color="dark" value="{{ prevpercentlastyear }}"></c-progress-bar>
              </c-progress>
            </li>
          </ul>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</div>


