<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header> Consolidated Sales Per Day </c-card-header>
    <c-card-body>
      <c-row>
        <c-col sm="9">
          <c-chart
            [data]="mainChart.data"
            [height]="300"
            [ngStyle]="{ 'marginTop.px': 10 }"
            [options]="mainChart.options"
            [type]="mainChart.type"
          >
          </c-chart>
        </c-col>
        <c-col sm="3">
          <div style="margin-top: 0rem">
            <div class="text-high-emphasis"><h4>7,856</h4></div>
            <div class="d-flex">
                <div class="me-auto p-2">
                    Total Sales For the Day
                </div>
                <div class="p-2">(20%) <svg cIcon name="cil-level-down" size="2xl" class="color-danger"></svg></div>
            </div>
            <c-progress class="mt-2" thin>
              <c-progress-bar color="dark" value="20"></c-progress-bar>
            </c-progress>
          </div>
          <div style="margin-top: 2rem">
            <div class="text-high-emphasis"><h4>7,856</h4></div>
            <div class="d-flex">
                <div class="me-auto p-2">
                    Total Sales Yesterday
                </div>
                <div class="p-2">(20%) <svg cIcon name="cil-level-up" size="2xl" class="color-success"></svg></div>
            </div>
            <c-progress class="mt-2" thin>
              <c-progress-bar color="dark" value="20"></c-progress-bar>
            </c-progress>
          </div>
          <div style="margin-top: 2rem">
            <div class="text-high-emphasis"><h4>7,856</h4></div>
            <div class="d-flex">
                <div class="me-auto p-2">
                  Total Sales Last Month
                </div>
                <div class="p-2">(20%) <svg cIcon name="cil-level-up" size="2xl" class="color-success"></svg></div>
            </div>
            <c-progress class="mt-2" thin>
              <c-progress-bar color="dark" value="10"></c-progress-bar>
            </c-progress>
          </div>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</div>
